{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="wrapper">
        <h1 class="post-title">{{ song.title }}</h1>

        <div class="post-content">
            <div id="top-bar" class="playlist-top-bar">
                <div class="playlist-toolbar">
                    <div class="btn-group">
                        <span class="btn-play btn"><i class="fa fa-play"></i></span>
                        <span class="btn-pause btn"><i class="fa fa-pause"></i></span>
                        <span class="btn-rewind btn"><i class="fa fa-fast-backward"></i></span>
                        <!-- <span class="btn-stop btn"><i class="fa fa-stop"></i></span> -->
                        <!-- <span class="btn-fast-forward btn btn-success"><i class="fa fa-fast-forward"></i></span> -->
                    </div>
                    <!-- <div class="btn-group">
                        <span title="zoom in" class="btn-zoom-in btn btn-default"><i class="fa fa-search-plus"></i></span>
                        <span title="zoom out" class="btn-zoom-out btn btn-default"><i class="fa fa-search-minus"></i></span>
                    </div> -->
                    <!-- <span class="audio-pos">00:00:00.0</span> -->
                </div>
            </div>

            <div id="loader">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>

            <div id="playlist"></div>
            <form class="form-inline">
                <!-- Not needed - people just use device vol -->
                <!-- <div class="form-group">
                    <label for="master-gain">Master Volume</label>
                    <input type="range" min="0" max="100" value="100" class="master-gain form-control" id="master-gain">
                </div> -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="automatic-scroll"> Automatic Scroll
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Kill me now
    var song = {{ song|safe }};
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/waveform-playlist.var.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stem-tracks.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/emitter.js') }}"></script>

{% endblock %}